# Виртуальное окружение
venv/
*.env

# Папки и файлы базы данных
*.db
*.sqlite3
users.db

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Прочее, что не нужно в репозитории
*.pyc
__pycache__/
*.pyo
*.pyd

# Папки IDE
.vscode/
.idea/
*.iml

# Файлы и папки, создаваемые при сборке
*.bak
*.swp
flask_session/
